Repository ita-social-projects/dokazovi-fe, pull requests merged in 2021-06, with the labels that each got.

#396 Remove intermediate display of components
  src/models/experts/index.ts
  src/models/experts/reducers.ts
  src/models/experts/selectors.ts
  src/models/experts/types.ts
  src/models/materials/types.ts
  src/old/lib/components/Loading/LoadingContainer.styles.ts
  src/old/lib/components/Loading/LoadingContainer.tsx
  src/old/modules/experts/components/ExpertMaterialsContainer.tsx
Labels: Expert Page, Experts Page, frontend

#399 fix blink
  src/App.tsx
  src/index.css
  src/old/navigation/Router.tsx
Labels: bug

#415 Issue #414 fix VideoPostCreation component #414
  src/components/Posts/Cards/PostPreviewCard.spec.tsx
  src/components/Posts/Cards/VideoPostPreviewCard/VideoPostPreviewCard.spec.tsx
  src/features/postCreation/VideoCreation/VideoCreation.tsx
  src/features/postCreation/VideoCreation/VideoPostCreation.tsx
  src/features/postUpdation/VideoUpdation/VideoPostUpdation.tsx
  src/old/lib/components/Editor/generalEditor.styles.css
Labels: Article Page, bug

#416 hidden post editor if isn't auth
  src/old/modules/posts/components/PostView.tsx
Labels: PostView Page

#432 Redesign login modal
  src/index.css
  src/locales/uk/parts/loginRegistration.ts
  src/models/materials/index.ts
  src/models/materials/reducers.ts
  src/models/user/selectors.ts
  src/old/lib/components/Users/LoginModal.styles.ts
  src/old/lib/components/Users/LoginModal.tsx
  src/old/lib/components/Users/LoginModalOld.tsx
Labels: frontend, login

#430 Feature conditions contacts
  src/components/ConditionNav/ConditionNav.styles.ts
  src/components/ConditionNav/ConditionNav.tsx
  src/components/ConditionNav/index.ts
  src/components/ContentSection/ContentSection.styles.ts
  src/components/ContentSection/ContentSection.tsx
  src/components/ContentSection/defContent.ts
  src/components/ContentSection/index.ts
  src/index.css
  src/old/lib/components/Footer/Footer.styles.ts
  src/old/lib/components/Footer/Footer.tsx
  src/old/navigation/router-config.ts
  src/views/Conditions/Conditions.styles.ts
  src/views/Conditions/Conditions.tsx
Labels: frontend

#435 Redesign login modal
  package.json
  src/components/Chips/PostDirectionChip/PostDirectionChip.styles.ts
  src/components/Editor/CustomModules/ImageHandlersContainer.tsx
  src/locales/uk/parts/loginRegistration.ts
  src/models/user/index.ts
  src/models/user/selectors.ts
  src/old/lib/components/Users/LoginModal.styles.ts
  src/old/lib/components/Users/LoginModal.tsx
  src/old/lib/components/Users/validationRules.ts
  src/old/modules/posts/components/PostView.tsx
  src/old/modules/posts/styles/PostView.styles.ts
Labels: frontend, login
