Repository ita-social-projects/dokazovi-fe, pull requests merged in 2021-05, with the labels that each got.

#346 Materials slice refactoring
  src/old/apiURL.ts
  src/old/lib/hooks/useActions.ts
  src/old/modules/main/components/NewestContainer.tsx
  src/old/modules/main/store/mainSlice.ts
  src/old/modules/materials/components/MaterialsView.tsx
  src/old/store/experts/expertsSlice.ts
  src/old/store/experts/types.ts
  src/old/store/helpers/asyncActions.ts
  src/old/store/materials/asyncActions.ts
  src/old/store/materials/index.ts
  src/old/store/materials/materialsSlice.ts
  src/old/store/materials/reducers.ts
  src/old/store/materials/selectors.ts
  src/old/store/materials/types.ts
  src/old/store/rootReducer.ts
  src/old/store/selectors.ts
Labels: frontend

#347 Issue 311 fix uploading an author
  src/old/apiURL.ts
  src/old/lib/components/Editor/CustomModules/UrlInputModal.tsx
  src/old/lib/types.ts
  src/old/lib/utilities/API/types.ts
  src/old/modules/postCreation/components/PostAuthorSelection/PostAuthorSelection.spec.tsx
  src/old/modules/postCreation/components/PostAuthorSelection/PostAuthorSelection.tsx
  src/old/modules/postCreation/components/TextPostCreation.tsx
  src/old/modules/postCreation/components/VideoCreation.tsx
  src/old/modules/postCreation/store/postCreationSlice.ts
  src/old/modules/postUpdation/components/TextPostUpdation.tsx
  src/old/modules/postUpdation/components/VideoUpdation.tsx
Labels: frontend

#354 Issue #322 store refactoring
  package.json
  src/App.tsx
  src/models/experts/asyncActions.ts
  src/models/experts/index.ts
  src/models/experts/reducers.ts
  src/models/experts/selectors.ts
  src/models/experts/types.ts
  src/models/helpers/asyncActions.ts
  src/models/materials/asyncActions.ts
  src/models/materials/index.ts
  src/models/materials/reducers.ts
  src/models/materials/selectors.ts
  src/models/materials/types.ts
  src/models/properties/asyncActions.ts
  src/models/properties/index.ts
  src/models/properties/reducers.ts
  src/models/properties/selectors.ts
  src/models/properties/types.ts
  src/old/lib/components/Filters/TagsFilter.tsx
  src/old/modules/experts/components/ExpertMaterialsContainer.tsx
  src/old/modules/experts/components/ExpertsView.tsx
  src/old/modules/main/store/mainSlice.ts
  src/old/modules/materials/components/MaterialsView.tsx
  src/old/store/experts/expertsSlice.ts
  src/old/store/experts/types.ts
  src/old/store/helpers/asyncActions.ts
  src/old/store/propertiesSlice.ts
  src/old/store/rootReducer.ts
  src/old/store/selectors.ts
Labels: Experts Page, bug

#361 Add a field with a list of the selected filters at the top of the Authors page #236
  src/components/Chips/ChipsList/ChipsList.tsx
  src/components/Chips/PostDirectionChip/PostDirectionChip.styles.ts
  src/components/Chips/PostDirectionChip/PostDirectionChip.tsx
  src/components/Chips/icons/DoneIcon.tsx
  src/old/lib/components/FilterItems/FilterItemsList.tsx
  src/old/lib/components/FilterItems/PostDirectionItem.tsx
  src/old/lib/components/FilterItems/PostDirectionLink.tsx
  src/old/lib/components/Filters/CheckboxLeftsideFilterForm.tsx
  src/old/modules/experts/components/ExpertsView.tsx
  src/old/modules/experts/styles/ExpertsView.styles.ts
  src/old/modules/utilities/declOfNum.ts
Labels: Experts Page, frontend

#369 Issue 368 fix scrolling on loading new posts
  src/old/lib/components/Experts/ExpertsList.tsx
  src/old/lib/components/Posts/PostsList.tsx
  src/old/modules/experts/components/ExpertsView.tsx
  src/old/modules/materials/components/MaterialsView.tsx
Labels: Experts Page, Materials Page
