Repository ita-social-projects/dokazovi-fe, pull requests merged in 2021-03, with the labels that each got.

#286 Experts: Directions / regions filter + page number in URL #239
  src/lib/components/СheckBoxDropdownFilterForm.tsx
  src/modules/experts/components/ExpertsView.tsx
  src/modules/experts/store/expertsSlice.ts
Labels: Experts Page

#301 Added redirect on PostView page (on expert click)
  src/modules/posts/components/PostView.tsx
Labels: PostView Page, frontend

#304 Implement the Materials page
  public/index.html
  src/lib/components/Header/Header.tsx
  src/lib/components/PostDirectionLink.tsx
  src/lib/components/PostTypesFilter.tsx
  src/lib/components/TagsFilter.tsx
  src/lib/utilities/API/api.ts
  src/lib/utilities/API/types.ts
  src/modules/direction/components/DirectionView.tsx
  src/modules/direction/components/DirectionsList.tsx
  src/modules/direction/components/MaterialsContainer.tsx
  src/modules/direction/components/styles/DirectionView.styles.ts
  src/modules/direction/components/styles/MaterialsContainer.styles.ts
  src/modules/direction/store/directionSlice.ts
  src/modules/materials/components/MaterialsView.tsx
  src/modules/materials/store/materialsSlice.ts
  src/navigation/router-config.tsx
  src/store/rootReducer.ts
Labels: Materials Page

#305 Issue #297 video upload by url
  src/lib/components/Editor/CustomModules/VideoUrlInputModal.tsx
  src/lib/components/Editor/Editors/VideoEditor.tsx
  src/lib/components/Editor/Editors/VideoEditorToolbar.tsx
  src/lib/utilities/parseVideoIdFromUrl.ts
  src/modules/postCreation/VideoCreation.tsx
  src/modules/postCreation/store/postCreationSlice.ts
Labels: Create Video Page, frontend

#303 fixed linking to non existing post
  src/lib/components/Editor/ContentPreviewContainer.tsx
  src/lib/components/Posts/Cards/PostPreviewCard.tsx
  src/lib/styles/PostPreviewCard.styles.ts
Labels: bug, frontend

#312 Issue #296 redesign important carousel
  src/App.tsx
  src/lib/components/Border.tsx
  src/lib/components/Carousel/Carousel.styles.ts
  src/lib/components/Carousel/Carousel.tsx
  src/lib/components/Carousel/carouselConfig.ts
  src/lib/components/Posts/Cards/PostCard.tsx
  src/lib/images/importantBackground.jpg
  src/lib/styles/Page.styles.ts
  src/lib/styles/PostCard.styles.ts
  src/modules/main/components/ImportantContainer.tsx
  src/modules/main/styles/ImportantContainer.styles.ts
Labels: MainPage, frontend

#313 Issue 299 admin delete post
  package.json
  src/App.tsx
  src/lib/components/Modals/ConfirmModal.tsx
  src/modules/postCreation/components/PostCreationButtons.tsx
  src/modules/postCreation/store/postCreationSlice.ts
  src/modules/posts/components/PostView.tsx
  src/modules/posts/components/PostViewWrapper.tsx
  src/modules/posts/styles/PostView.styles.ts
Labels: PostView Page, frontend

#317 Deleted title and "More materials" button on the Newest section (MainPage)
  src/lib/constants/posts.ts
  src/lib/hooks/useActions.ts
  src/modules/main/components/ImportantContainer.tsx
  src/modules/main/components/NewestContainer.tsx
  src/modules/main/store/mainSlice.ts
Labels: Main Page, frontend
